/* Global */

:root {
  /* Color */
  --color-white: #f2f2f2;
  --color-black: black;

  /* dark */
  --color-dark-primary: #ffb4a8;
  --color-dark-on-primary: #690100;
  --color-dark-primary-container: #930100;
  --color-dark-on-primary-container: #ffdad4;
  --color-dark-outline: #a08c89;
  --color-dark-background: white;
  --color-dark-on-background: #ede0dd;

  /* neutral */
  --color-neutral-0: #000000;
  --color-neutral-10: #201a19;
  --color-neutral-20: #362f2e;
  --color-neutral-30: #4d4544;
  --color-neutral-40: #655c5b;
  --color-neutral-50: #7f7573;
  --color-neutral-60: #998e8d;
  --color-neutral-70: #b4a9a7;
  --color-neutral-80: #d0c4c2;
  --color-neutral-90: #ede0dd;
  --color-neutral-100: #ffffff;

  /* Font size */
  --font-size-display-large: 57px;
  --font-size-display-medium: 45px;
  --font-size-display-small: 36px;

  --font-size-headline-large: 32px;
  --font-size-headline-medium: 28px;
  --font-size-headline-small: 24px;

  --font-size-title-large: 22px;
  --font-size-title-medium: 16px;
  --font-size-title-small: 14px;

  --font-size-body-large: 16px;
  --font-size-body-medium: 14px;
  --font-size-body-small: 12px;

  --font-size-label-large: 14px;
  --font-size-label-medium: 12px;
  --font-size-label-small: 11px;

  --font-height-display-large: 64px;
  --font-height-display-medium: 52px;
  --font-height-display-small: 44px;

  --font-height-headline-large: 40px;
  --font-height-headline-medium: 36px;
  --font-height-headline-small: 32px;

  --font-height-title-large: 28px;
  --font-height-title-medium: 24px;
  --font-height-title-small: 20px;

  --font-height-body-large: 24px;
  --font-height-body-medium: 20px;
  --font-height-body-small: 16px;

  --font-height-label-large: 20px;
  --font-height-label-medium: 16px;
  --font-height-label-small: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Border radius size */

  --size-border-radius1: 4px;
  --size-border-radius2: 8px;
  --size-border-radius3: 12px;

  /* Animation  */

  --animation-duration: 300ms;
}

/* Universial Tag */

* {
  font-family: "Roboto";
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  padding: 0;
  margin: 0;
  background-color: var(--color-black);

  overflow-x: hidden;
}

div {
  width: fit-content;
}

/* Banner */
/* https://codepen.io/feliperohde/pen/zYqJvvz */

.banner-container {
  position: relative;

  width: 100vw;
  height: 360px;

  overflow: hidden;
}

.banner-video {
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;

  margin: auto;

  max-width: 100vw;
}

.banner-title {
  position: absolute;
  bottom: -8px;
  right: 0;

  font-weight: var(--weight-bold);
  font-size: var(--font-size-display-large);
  line-height: var(--font-height-display-large);
  color: var(--color-white);
}

/* mode */

.icon-container {
  display: flex;

  width: fit-content;
  padding: 8px;
  border-radius: 100px;

  align-items: center;
  justify-content: center;
}

.mode-icon-container {
  background-color: var(--color-dark-primary-container);
}

.icon {
  width: 24px;
  height: 24px;

  filter: invert(80%) sepia(98%) saturate(1%) hue-rotate(331deg) brightness(99%)
    contrast(101%);
}

/* tag */

.tag-container {
  display: flex;

  width: fit-content;

  border-radius: 4px;

  background-color: var(--color-dark-primary-container);
  color: var(--color-white);
  align-items: center;
}

.tag-remove {
  width: 16px;
  height: 16px;

  filter: none;
}

.tag-icon-container,
.tag-remove-container {
  padding: 4px;
}

.tag-label {
  font-size: var(--font-size-label-large);
  line-height: var(--font-height-label-large);
  font-weight: var(--weight-semi-bold);
}

/* hor-card */

.hor-card-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 1080px;

  padding: 12px;
  border-radius: 4px;
  border-left: 8px solid #930100;
  background-color: var(--color-white);
  align-items: center;
}

.hor-card-time,
.hor-card-name,
.hor-card-vs {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-size-label-large);
  line-height: var(--font-height-label-large);

  /* identical to box height, or 143% */
  letter-spacing: 0.1px;
}

.hor-card-match-container {
  display: flex;
  align-items: center;

  padding: 0px;

  gap: 16px;
}

.hor-card-emblem {
  filter: invert(25%) sepia(13%) saturate(367%) hue-rotate(319deg)
    brightness(90%) contrast(82%);
}
